@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
  --color-overlay-light: #ffffff1a;
  --color-background-dark: #252728;
  --color-text-on-dark: #ffffff;
  --color-text-muted: #67788a;
  --color-brand-primary: #0866ff;
  --bg-color-primary:#d6d1d1;
  --color-red:red;
  --text-blue-light:#cedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-color-primary);
}
a{
    text-decoration: none;
    
}
img{
  cursor: pointer;
}
ul{
  list-style: none;
}
/* UTILITY CLASSES */
.online{
  position: relative;
}
.online::after{
  position: absolute;
  content: '';
  height: 1.2rem;
  width: 1.2rem;
  background-color: green;
  border-radius: 50%;
  border: 2px solid var(--color-text-on-dark);
  z-index: 2;
  left: -0.7rem;
  top: 0;
}
.flex-row{
  display: flex;
  align-items: start;

}

/* END OF UTILITY CLASSES */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3%;
  background-color: var(--color-brand-primary);
  position: sticky;
  top:0 ;
  z-index:1000 ;
}
.navbar .navbar__logo{
  width: 15rem;
}
.navbar__left{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar__list{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.navbar__list .navbar__icon{
  width: 2.5rem;
}
.navbar__list .navbar__list-item{
position: relative;
cursor: pointer;
} 
.navbar__list .navbar__list-item span{
background-color: var(--color-red);
color: var(--color-text-on-dark);
height: 2rem;
width: 2rem;
position: absolute;
border: none;
border-radius: 50%;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;
top: -1.2rem;
right: -1rem;
} 
.navbar__right{
  display: flex;
  align-items: center;
  gap: 2.5rem;
 
}
.navbar__right .profile__icon img{
  width: 4rem;
  border-radius: 50%;
}
.navbar__right .search__box{
display: flex;
align-items: center;
background-color: var(--color-text-on-dark);
padding:0 2rem;
border-radius: 2rem;
}
.navbar__right .search__box img{
  width: 1.5rem;
}
.navbar__right .search__box input{
  padding: .7rem 1rem;
  border: none;
  background-color: transparent;
}
.navbar__right .search__box input:focus{
  outline: none;
  border: none;
}
/* ---- NAVIGATION END ----*/
.container{
  padding:2rem 3% 0rem 3%;
  display: flex;
  justify-content: space-between;
}
 .sidebar__left{
  flex-basis: 25%;
  position: sticky;
  top: 84px;
  height: calc(100vh - 84px);
}
 .sidebar__right{
  flex-basis: 25%;
  position: sticky;
  top: 84px;
}
.sidebar__left hr{
  margin:0 0 2rem 0;
  border: 0;
  width: 50%;
  height: 0.124rem;
  background-color: rgba(0, 0,0, 0.2);
}
.sidebar__left .sidebar__list{
display: flex;
flex-direction: column;
gap: 1.5rem;
}
.sidebar__left .sidebar__list .sidebar__list-item a{
width: 100%;
display: flex;
color: var(--color-background-dark);
padding: 1rem 0;
align-items: center;
border-radius: 0.3rem;
font-size: 1.2rem;
transition: .4s linear;
}

.sidebar__left .sidebar__list .sidebar__list-item:last-child a{
  color: var(--color-brand-primary);
  font-size: 1.4rem;
}
.sidebar__left .sidebar__list .sidebar__list-item .sidebar__icon{
width: 2.5rem;
margin-right: 2rem;
}
.sidebar__left .shortcuts h3{
  color: var(--color-background-dark);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.sidebar__left .shortcuts .shortcut__list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.sidebar__left .shortcuts .shortcut__list a{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar__left .shortcuts .shortcut__list a img{
  width: 4.5rem;
  border-radius: .8rem;
}
.sidebar__left .shortcuts .shortcut__list a span{
  color: var(--color-background-dark);
  font-size: 1.2rem;
}
/* ------ END OF LEFT SIDEBAR ------- */

 .main-content{
  padding: 1rem 3rem 0 3rem;  
  flex-basis:50% ;
  overflow: hidden;

  
}
.status__wrapper{
  width: 100%;
  overflow-y: hidden;
}
.status__wrapper .status-row{
  display: flex;
  gap: 2rem;
  overflow: hidden;
}
.status__wrapper .status-row .status{
flex-basis: 200px;
position: relative;
border-radius: 1rem;
overflow: hidden;
cursor: pointer;
}
.status__wrapper .status-row .status::after{
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 background-color:rgba(0, 0, 0, 0.627);
 top: 0;
 padding: 0;
 left: 0;
}
.status__wrapper .status-row .status h4{
  color: white;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 4;
  bottom: 20px;
  font-weight: 400;
  width: 80%;
  font-size: 1.1rem;
  text-align: center;
  text-wrap: wrap;
  
}

.status__wrapper .status-row .status .status__img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: .3s linear;
}
.status__wrapper .status-row .status:hover .status__img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.2);
}
.status__wrapper .status-row .status .status__icon{
position: absolute;
z-index: 3;
width: 40px;
border-radius: 50%;
border: 4px solid var(--color-brand-primary);
right: 10px;
top: 10px;
}
.status__wrapper .status-row .status.post .status__icon{
left: 50%;
transform: translate(-50%,-10%);
border-color: var(--color-text-on-dark);
top: 50%;
}
/* Status end */
.post__content{
  background-color: var(--color-text-on-dark);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}
.post__content .post__box{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.post__content .post__form{
  background-color: var(--text-blue-light);
  width: 100%;
  border-radius: .5rem;
}
.post__content .post__form input{
 border: none;
  width: 100%;
  background-color: transparent;
  padding: 1.5rem 2.5rem;
}
.post__content .post__form input:focus{
 border: none;
outline: none;
}
.post__content .profile__icon{
  width: 6rem;
  border-radius: 50%;
}
.post__content .post__action{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.post__content .post__action .action{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.post__content .post__action .action img{
 width: 3rem;
 margin-right: .9rem;
}
.post__content .post__action .action span{
 font-size: 1.3rem;
}
/* POST CONTENT END */
.post__list{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post__card{
background-color: var(--color-text-on-dark);
padding: 2rem;
border-radius: 1rem;
}
.post__card__header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1.5rem;
}
.post__card__header .post__card__info h3{
 font-size: 1.6rem;
 margin-bottom: .3rem;
}
.post__card__header .post__card__info p{
opacity: .6;
font-weight: 500;
font-size: 1.1em;

}
.post__card__header .post__card__info img{
width: 5rem;
border-radius: 50%;
}
.post__card__header  .more-icon{
width: 2.5rem;
display: block;
cursor: pointer;

}
.post__card__header .post__card__info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.post__card__body{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  width: 100%;
  display: block;
  line-height: 1.5;
}
.post__card__body a{
  color: var(--color-brand-primary);
}
.post__card__body a:hover{
  text-decoration: underline;
}
.post__card__img{
  display: block;
  width: 100%;
}
